@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans+KR&display=swap');
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
ul,
li{ 
    list-style: none;
}

a{ 
    text-decoration: none;
    color: #333;
}
img{ 
    border: 0;
    vertical-align: middle;
}
html { 
    font-size: 16px;
}
body{ 
    background-color: #E6E2DD;
    font-family: 'Noto Sans KR', sans-serif;
    color: #222;
    font-size: 16px;
    line-height: 1; /* x1 */
    letter-spacing: 0;
    word-break: keep-all; /* 단어를 지켜서 줄내림 */
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

.wrap{ 
    width: 1920px;
    margin: 0 auto;
}
/* header */
.line{ 
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
}
.line-top-left{
    color: #333;
    border-bottom: 1px solid;
    width: 750px;
    height: 1px;
    
}
.line-top-right{
    color: #333;
    border-bottom: 1px solid;
    width: 750px;
    height: 1px;   
}
.bottom-line{ 
    display: flex;
    justify-content: space-around;
}
.line-bottom-left{
    color: #333;
    border-bottom: 1px solid;
    width: 750px;
    height: 1px;
    
}
.line-bottom-right{
    color: #333;
    border-bottom: 1px solid;
    width: 750px;
    height: 1px;   
}
.inner .main-tittle{
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    font-size: 36px;
    margin-right: 105px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

/* logo */
.logo{
    position: absolute;
    left: 900px;
    top: 85px;
    display: inline-block;
    background: url("../images/mainLogo.png") no-repeat center;
    background-size: cover;
    width: 120px;
    height: 120px;
}
/* menu hover effect */
.nav{ 
    height: 100%;
}
.gnb {
    /* ul */
    height: 100%;
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: space-evenly;
    width: 105%;
} 
.gnb li a { 
    position: relative;
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    color: #262626;
    transition: 0.5s;
    z-index: 1;
}
.gnb li a span{ 
    font-size: 24px;
}
.gnb li a:before { 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #262626;
    border-bottom: 2px solid #262626;
    transform: scaleY(2);
    opacity: 0;
    transition: 0.3s;
}
.gnb li a:after { 
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    transform: scale(0);
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
}
.gnb li a:hover{ 
    color:#fff;
}
.gnb li a:hover:before{ 
    transform: scaleY(1);
    opacity: 1;
}
.gnb li a:hover:after{ 
    transform: scaleY(1);
    opacity: 1;
}
.line-end{ 
    border-bottom: 1px solid;
    width: 1720px;
    margin: 0 auto;
}
.content{ 
    max-width: 1280px;
    margin: 0 auto;
}
/* about me section */
.aboutme{ 
    height: auto;
}
.aboutme-box{
    display: flex;
    gap: 45px; 
    margin-top: 3rem;
}
.aboutme-box .aboutme-head{ 
    font-family: 'Abril Fatface', cursive;
    font-size: 3rem;
}
.aboutme-image{ 
    background: url("../images/profileimg.png") no-repeat center;
    background-size: cover;
    display: block;
    width: 400px;
    height: 530px;
}
.about-hello{ 
    font-size:1.5rem;
    line-height: 2.5rem;
}
.about-flex-box{ 
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* 형광펜효과 */
.underline-text{ 
    box-shadow: inset 0 -20px 0 hsla(236, 91%, 83%, 0.93);
}
.line-section-end{ 
    border-bottom: 1px solid;
    width: 1280px;
    margin: 0 auto;
    margin-top: 3rem;
}
/* skills section */
.my-skill{ 
    background-color: #3d5980;
    display: block;
    margin-top: 3rem;
}
.skills-head{ 
    font-family: 'Abril Fatface', cursive;
    font-size: 3rem;
    padding-top: 2rem;
    margin-left: 2rem;
}
.skills{ 
    background-color: #3d5980;
    margin-left: 4rem;
}
/* chart */
.container{ 
    max-width: 600px;
    padding: 20px;
}
.progress-bar {
    height: 3px;
    width: 100%;
    position: relative;
    z-index: 10;
    background-color: #55708d;
}
.progress-bar .progress {
    position: relative;
    height: 100%;
    background-color: #cfd6dd;
    transition: width 0.5s ease-out;
    border-radius: 0px 2px 2px 0px;
}
.progress-bar .glow {
    width: 60px;
    max-width: 100%;
    height: 100%;
    float: right;
}
.progress-bar .glow::before,
.progress-bar .glow::after {
    content: "";
    display: block;
    position: relative;
    border-radius: 0px 2px 2px 0px;
}
.progress-bar .glow::before {
    background: transparent;
    height: 100%;
    box-shadow: 0px 0px 10px #cfd6dd, 0px 0px 10px #04bfff;
    z-index: -5;
}
.progress-bar .glow::after {
    background: linear-gradient(to right, #3d5980 0%, transparent 100%);
    height: calc(100% + 10px + 10px);
    width: calc(100% + 10px);
    top: -10px;
    left: -10px;
    z-index: -3;
}
.label {
    color: #ccc;
    text-shadow: 0px 0px 2px #cfd6dd;
    font-size: 24px;
}
.label.one {
    animation: label 0.5s ease-out 0s;
    animation-fill-mode: forwards;
    opacity: 0;
    margin-bottom: 1rem;
}
.label.two {
    animation: label 0.5s ease-out 0.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    margin-bottom: 1rem;
}
.label.three {
    animation: label 0.5s ease-out 1s;
    animation-fill-mode: forwards;
    opacity: 0;
    margin-bottom: 1rem;
}
.label.four { 
    animation: label 0.5s ease-out 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    margin-bottom: 1rem;
}
.label.five { 
    animation: label 0.5s ease-out 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    margin-bottom: 1rem;
}

.fill-1 {
    animation: fill-1 0.5s ease-out 0s;
    animation-fill-mode: forwards;
    width: 0%;
}
.fill-2 {
    animation: fill-2 0.5s ease-out 0.5s;
    animation-fill-mode: forwards;
    width: 0%;
}

.fill-3 {
    animation: fill-3 0.5s ease-out 1s;
    animation-fill-mode: forwards;
    width: 0%;
}
.fill-4 { 
    animation: fill-4 0.5s ease-out 1.5s;
    animation-fill-mode: forwards;
    width: 0%;
}
.fill-5{ 
    animation: fill-5 0.5s ease-out 2s;
    animation-fill-mode: forwards;
    width: 0%;
}
/* possibility section */
.my-possibility{ 
    margin-top: 3rem;
}
.possibility-head{ 
    font-family: 'Abril Fatface', cursive;
    font-size: 3rem;
}

/* key frame */

@keyframes fill-1 {
    0% {
      width: 0%;
    }
    100% {
      width: 90%;
    }
}
@keyframes fill-2 {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
}
@keyframes fill-3 {
    0% {
      width: 0%;
    }
    100% {
      width: 80%;
    }
}
@keyframes fill-4 {
    0% {
      width: 0%;
    }
    100% {
      width: 50%;
    }
}
@keyframes fill-5 {
    0% {
      width: 0%;
    }
    100% {
      width: 50%;
    }
}

@keyframes label {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 0.9;
      transform: translateY(0);
    }
}