@charset 'utf-8';
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Noto+Sans+KR&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}
img {
  border: 0;
  vertical-align: middle;
}
html {
  font-size: 16px;
}
body {
  background-color: #e6e2dd;
  font-family: "Noto Sans KR", sans-serif;
  color: #222;
  font-size: 16px;
  line-height: 1; /* x1 */
  letter-spacing: 0;
  word-break: keep-all; /* 단어를 지켜서 줄내림 */
  height: 100vh;
  overflow-x: hidden;
}

html.header-active {
  overflow-y: hidden;
  overflow-x: hidden;
}

.wrap {
  width: 100%;
  position: relative;
}
/* header */
.inner {
  position: relative;
  z-index: 5;
  padding-top: 2rem;
}
.line-top-left {
  color: #333;
  border-bottom: 1px solid;
  width: 750px;
  height: 1px;
}
.line-top-right {
  color: #333;
  border-bottom: 1px solid;
  width: 750px;
  height: 1px;
}
.bottom-line {
  display: flex;
  justify-content: space-around;
}
.line-bottom-left {
  color: #333;
  border-bottom: 1px solid;
  width: 750px;
  height: 1px;
}
.line-bottom-right {
  color: #333;
  border-bottom: 1px solid;
  width: 750px;
  height: 1px;
}
.inner .main-tittle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 36px;
  margin-right: 105px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* logo */
.logo {
    position: absolute;
    left: 50%;
    top: 60px;
    display: inline-block;
    background: url("../images/mainLogo.png") no-repeat center;
    background-size: cover;
    width: 120px;
    height: 120px;
    transform: translateX(-50%);
}
/* menu hover effect */
.nav {
  height: 100%;
}
.gnb {
  /* ul */
  height: 100%;
  display: flex;
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: space-around;
  width: 100%;
}
.gnb li a {
  position: relative;
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  color: #262626;
  transition: 0.5s;
  z-index: 1;
}
.gnb li a span {
  font-size: 1.3vw;
}
.gnb li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #262626;
  border-bottom: 2px solid #262626;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.3s;
}
.gnb li a:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}
.gnb li a:hover {
  color: #fff;
}
.gnb li a:hover:before {
  transform: scaleY(1);
  opacity: 1;
}
.gnb li a:hover:after {
  transform: scaleY(1);
  opacity: 1;
}
.line-end {
  border-bottom: 1px solid;
  width: 100%;
  margin: 0 auto;
}

/* mobile btn */
.mb-bt {
  position: absolute;
  top: 40px;
  right: -20000px;
  width: 30px;
  height: 22px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.mb-bt span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: 0.5s;
}
.mb-bt span:nth-child(1) {
  top: 0;
  transition: transform 0.5s;
}
.mb-bt span:nth-child(2) {
  top: calc(50% - 1px);
  transition: opacity 0.2s;
}
.mb-bt span:nth-child(3) {
  bottom: 0;
  transition: transform 0.5s;
}

/* mobile menu */
.mb-nav {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding-top: 90px;
  transition: left 0.3s ease-in-out;
  
}
.mb-nav.header-active {
  left: 0;
  z-index: 3;
}
.mb-bt span {
  background-color: #000000;
  transition: 0.3s;
}
.mb-nav-gnb > li {
  border-bottom: 1px solid #e5e5e5;
}
.mb-nav-gnb > li > a {
  display: block;
  padding: 20px 70px 20px 40px;
  font-size: 24px;
}

.gnb > li > a.header-active {
  color: #222;
}
/* mobile button animation */
.mb-bt span.header-active {
  background-color: #222;
  z-index: 1;
}
.mb-bt.header-active span:nth-child(1) {
  transform: rotate(45deg);
  top: calc(50% - 1px);
}
.mb-bt.header-active span:nth-child(2) {
  opacity: 0;
}
.mb-bt.header-active span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: calc(50% - 1px);
}

/* media query */
/* 1080 */
@media screen and (max-width: 1080px){
  .logo{ 
    left:10%;
    width:70px;
    height: 70px;
    top: 5px;
  }
  .inner .main-tittle{ 
    font-size: 2vw;
  } 
  .gnb {
    display: none;
  }
  .mb-bt {
    right: 20px;
  }
  .visual-wrap{ 
    flex-direction: column;
    align-items: center !important;
  }
  .visual-wrap .swiper{ 
    width: 100%;
    max-width: 700px;
  }
  .text-box{ 
    width: 100% !important;
  }
  .img-code{ 
    width: 50%;
  }
}
/* 768 */
@media screen and (max-width: 768px){
  .inner .main-tittle{ 
    display: none;
  }
  .inner .bottom-line { 
    display: none;
  }
  .visual-wrap{ 
    flex-wrap: wrap;
  }
  .visual-wrap .swiper{ 
    width: 100%;
  } 
  .visual-wrap .text-box{ 
    width: 100%;
  }

}
/* swiper pagination 색깔변경 */
:root {
  --swiper-theme-color: #f0ae50;
}

/* visual */
.visual-wrap{ 
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 1.125rem;
}
.swiper {
  display: flex;
  width: 50%;
  height: auto;
  padding: 50px;
  
}
.swiper-slide:after { 
  content: "";
  display: block;
  padding-bottom: 100%;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  display: block;
  position: relative;
}
.swiper-slide img { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* .bg-1 {
  background: url("../images/mainvisual1.png") no-repeat center;
  background-size: cover;
}
.bg-2 {
  background: url("../images/mainvisual2.png") no-repeat center;
  background-size: cover;
}
.bg-3 {
  background: url("../images/mainvisual3.png") no-repeat center;
  background-size: cover;
}
.bg-4 {
  background: url("../images/mainvisual4.png") no-repeat center;
  background-size: cover;
} */
/* text */
.text-box{
  width: 50%; 
  padding: 50px;
}
.swiper-text {
  font-family: "Abril Fatface", cursive;
  font-size: 10vw;
  margin: 0;
  margin-bottom: 30px;
}
.text-name {
  font-size: 30px;
  margin-bottom: 30px;
}
.main-text {
  line-height: 30px;
}
/* portfolio move */
.quick-move {
  font-size: 30px;
  font-weight: bold;
  margin-top: 3rem;
}

.learn-more {
  position: relative;
  cursor: pointer;
  outline: none;
  border: 0;
  text-decoration: none;
  background: transparent;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 12.5rem;
  height: auto;
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.625rem;
  width: 3.1rem;
  height: 3.1rem;
  background: rgb(48, 48, 48);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
}

.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.76, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
.learn-more .btn-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: -7px;
  left: 45px;
  padding: 0.8rem 0;
  margin: 0 0 0 1rem;
  color: #282936;
  text-align: center;
}
/* hover */
.learn-more:hover .circle {
  width: 100%;
}
.learn-more:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
.learn-more:hover .btn-text {
  color: #fff;
}

.img-code {
  /* background: url("../images/codingimg.png") no-repeat center;
  background-size: cover; */
  display: block;
  margin-top: 2rem;
}
.img-code img{ 
  width: 100%;
}
/* hr {
  margin-top: 5rem;
  text-align: center;
} */
/* footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f7fbfc;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-first {
  color: #333;
  font-weight: bold;
  font-size: 0.8rem;
}
.footer-second {
  text-align: center;
  color: #333;
  font-weight: bolder;
  font-size: 0.8rem;
}
.footer-third {
  color: #333;
  font-weight: bold;
  font-size: 0.8rem;
}
